/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Jun, 2022, 12:07:53 PM
    Author     : Danis
*/

alignment    {
    margin: auto;
    width:550px;
    height:auto;
    font-family: "Times New Roman", Georgia, serif;
    font-size: 12px; 
    line-height: 24px;
    font-weight: bold;
    color:darkblue;
    padding:10px;
    border: 1px solid black; 
}

input    {
    width:375px;
    display:block;
    border: 1px solid black;
    height: 25px;
}

#idFeedback {
    width:375px;
    height:auto;
}

